@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
}

/* utility classes  */
.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0.5em 1.5em;
  border-radius: 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  font-weight: 7000;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

/* text utilities classes */
.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1.2;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-white {
  color: white;
}

.text-orange {
  color: orange;
}

/* ************ Header **************** */
.header {
  backdrop-filter: blur(5px);
  padding: 0.8rem 0;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header::after {
  content: "";
  display: block;
  clear: both;
}

.header-logo {
  /* border: 1px solid red; */
  width: 28%;
  float: left;
}

.nav-items {
  width: 44%;

  /* border: 1px solid red; */
  float: left;
  text-align: center;
  margin-top: 0.4rem;
}

.nav-items .nav-item {
  display: inline-block;
  margin: 0 1rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.nav-items .nav-item:hover {
  border-bottom: 1px solid black;
}

.btn-container {
  /* border: 1px solid red; */
  width: max-content;
  float: right;
  text-align: right;
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  position: relative;
  /* z-index: -1; */
}

.hero-content {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.hero-desc {
  line-height: 1.8;
  margin-bottom: 0.8rem;
}

.hero-btn {
  font-size: 1rem;
  border: 1px solid white;
  color: white;
  padding: 0.5em 2em;
}

.hero-btn:hover {
  border: 1px solid black;
  background-color: black;
}

/* ************** Places section **************  */

.text-orange {
  color: orange;
}

.places-section {
  padding: 6rem 0;
}

.places-section h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.places-section p {
  margin-bottom: 1rem;
}

.places-section button {
  padding: 1em 1.5em;
}

.places-content {
  max-width: 500px;
}

.card-container {
  margin-top: 2rem;
}

.card-container::after {
  content: "";
  display: block;
  clear: both;
}

.card {
  width: 24%;
  min-height: 400px;
  border-radius: 1em;
  background-color: white;
  float: left;
  margin: 0 0.3em;
  margin-bottom: 5rem;
  /* border: 1px solid red; */
}

.card::after {
  clear: both;
}

.card-img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.card-content {
  padding: 1em 1.2em;
}

.content {
  max-width: 450px;
  margin-bottom: 2rem;
}

.content p {
  margin-bottom: 1rem;
}

.content button {
  padding: 1em 2em;
}

.rating {
  margin-bottom: 0.3rem;
}

.rating-icons {
  color: rgb(223, 155, 29);
}

.rating-count {
  font-weight: 700;
  padding-left: 0.5rem;
}

.location {
  margin-bottom: 0.3rem;
}

.text-bold {
  font-weight: 700;
}
.text-semibold {
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 0.5rem 0;
  padding-bottom: 2rem;
}

.fa-facebook-f {
  color: #3b5998;
  padding: 0.5rem;
}

.fa-instagram {
  color: #e4405f;
  padding: 0.5rem;
}

.fa-linkedin {
  padding: 0.5rem;
  color: #0a66c2;
}

/* ********** hamburger menu ********* */

.hamburger-menu {
  display: none;
  float: right;
}

.input-checkbox {
  display: none;
}

.menu-items {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 4rem 2.5rem;
  background-color: white;

  color: black;
  list-style-type: none;
  z-index: -1;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-items {
  display: block;
}

.menu-items .menu-item {
  margin-bottom: 0.8rem;
  padding-left: 0;
}
.menu-items .menu-item a {
  color: black;
}

.menu-items .menu-item a:hover {
  color: orange;
}

/* .hamburger-menu {
  display: none;
  float: right;
}

.input-checkbox {
  display: none;
}

.menu-items {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  padding: 4rem 2.5rem;
  background-color: black;
  list-style-type: none;
  z-index: -1;
}

.menu-items .menu-item {
  margin-bottom: 0.8rem;
}

.menu-items .menu-item a {
  color: white;
}
.menu-items .menu-item a:hover {
  color: orange;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-items {
  display: block;
} */

/* .input-checkbox {
  display: none;
} */

/* .menu-items {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 22;
  background-color: black;
  list-style-type: none;
  padding: 1rem 2rem;
}

.menu-items .menu-item {
  margin-bottom: 0.8rem;
}

.menu-items .menu-item a {
  color: white;
}
.menu-items .menu-item a:hover {
  color: orange;
}

.hamburger-menu input[type="checkbox"]:checked ~ .menu-items {
  display: block;
} */

/* ********** media queries ********* */

@media (max-width: 976px) {
  .nav-items {
    display: none;
  }

  .btn-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
